/*Codecademy myTime project style*/
body {
  margin: 0px;
}

div {
  /*border: 1px dotted black;*/
}
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: MediumAquamarine;
  position: relative;
}

.logo img {
  margin-right: 12px;
  position: relative;
}

.header nav {
  display: inline-block;
  padding-right: 40px;
  position: relative;
}

.header nav span {
  padding: 20px 10px;
  position: relative;
}

.header nav a {
  color: black;
  position: relative;
}

.contents {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.column01 {
  width: 630px;
}

.column.column02 {
  width: 300px;
}

.column.column03 {
  width: 240px;
}

.main-story {
  width: 100%;
}
.stories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.story {
  width: 300px;
  margin-left: 15px;
}

.img-content {
  display: flex;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: center;
}

.text-content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  height: 300px;
  display: inline-block;
}

.news-bites {

}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites span {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 12px 0px 12px 25px;
  align-items: center;
}

.footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  justify-content: space-around;
  height: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer .logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  display: inline-block;
  padding-right: 25px;

}

.footer nav {
  display: inline-block;
  padding-left: 40px;
  position: relative;
}

.footer nav span {
  padding: 20px 10px;
  position: relative;
}

.footer nav a {
  color: black;
  position: relative;
}

.copyright {
  margin-top: 25px;
}

#img01 {
  background-image: url(../images/img-story-main.png);
  font-size: 40px;
  text-align: left;
}

#img02 {
  background-image: url(../images/img-story-2.png);
}

#img03 {
  background-image: url(../images/img-story-3.png);
}

#img04 {
  background-image: url(../images/img-story-1.png);
}
